<html><head>
<title>message</title>
</head>
<body>
<form action="/add" method="post">
<br/>author:<input type="text" name="author">
<br/>message:
<br/><textarea name="message" column="20" rows="10"></textarea>
<br/><input type="submit" value="add message">
</form>
<table border=1>
<tr>
<td>id</td><td>message</td><td>author</td><td>created_at</td><td>...</td><td>...</td>
<%  message=Array.new
  ((@messages).length).times do|t|
  message=(@messages[@messages.length-t-1]).split("#")
%>
<tr>
<td><%=message[0]%></td>
<td><%=message[1]%></td>
<td><%=message[2]%></td>
<td><%=message[3]%></td>
<td><form action="/delete" method="post">
    <input type="hidden" value="<%=message[0]%>" name="id">
    <input type="submit" value="delete">
    </form>
</td>
<td><form action="/edit" method="post">
    <input type="hidden" value="<%=message[0]%>" name="id">
    <input type="submit" value="edit">
    </form>
</td>
</tr>
<%end
%>
</table>

<br/>
<form action="/check_id" method="get">
<input type="text" name="id">
<input type="submit" value="check">(按id查询)</form>
<br/>
<form action="/check_author" method="get">
<input type="text" name="author">
<input type="submit" value="check">(按author查询)</form>
</body>
</html>
