<%require 'active_record'
 require 'mysql2'
%>
<html><head>
<title>show</title>
</head>
<body>
<h1>首页</h1>
<br/><%=@username%>:
<form action="/add" method="post">
<input type="hidden" name="id" value="">
<br/>message:
<br/><textarea name="message" column="20" rows="10"></textarea>
<br/><input type="submit" value="添加留言">
</form>
<table border=1>
<tr><th>id</th><th>content</th><th>user_id</th><th>created_at</th></tr>
<%@messages.each do |i|
%><tr><td>
<%=i.id%></td><td><%=i.content%></td><td><%=i.user_id%></td><td><%=i.created_at%></td></tr>
<%end
%>
</table>
<br/>
<form action="/search" method="get">
<input type="text" name="author">
<input type="submit" value="search">(按author查询记录）
</form>
<a href="/">退出登录</a>
</body>
</html>
