<h1>Sign up</h1>
<%= form_for :admin,url:login_admin_path(@admin) do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%link_to 'sign up','admin_path'%>
