<%= link_to('注册', new_registration_path(:user)) %> | 
<%= link_to('登录', new_session_path(:user)) %>
<h1>Listing posts</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Created_at</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.created_at %></td>
      <td><%= link_to 'Show', guest_path(post) %></td>
    </tr>
  <% end %>
</table>
<%=link_to'publish feedback','feedbacks/new'%>
